In [1]:
# displays multiple returns. example can now return both a and a+1 

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [2]:
from sqlalchemy import create_engine, MetaData, Table, Integer, String, \
    Column, DateTime, ForeignKey, Numeric, SmallInteger, CheckConstraint

from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import relationship

from datetime import datetime

from sqlalchemy.orm import sessionmaker, Session


# This is reused for from the docker-compose
engine = create_engine("postgres://admin:password@localhost:5433/testdb", echo=True)


Session = sessionmaker(bind=engine)
session = Session()

Base = declarative_base()

class Customer(Base):
    __tablename__ = 'customers'
    id = Column(Integer(), primary_key=True)
    first_name = Column(String(100), nullable=False)
    last_name = Column(String(100), nullable=False)
    username = Column(String(50), nullable=False)
    email = Column(String(200), nullable=False)
    address = Column(String(200), nullable=False)
    town = Column(String(50), nullable=False)
    created_on = Column(DateTime(), default=datetime.now)
    updated_on = Column(DateTime(), default=datetime.now, onupdate=datetime.now)
    orders = relationship("Order", backref='customer')
    
    def __repr__(self):
        return "<Customer:{0}-{1}>".format(self.id, self.username)


class Item(Base):
    __tablename__ = 'items'
    id = Column(Integer(), primary_key=True)
    name = Column(String(200), nullable=False)
    cost_price =  Column(Numeric(10, 2), nullable=False)
    selling_price = Column(Numeric(10, 2), nullable=False)
    quantity = Column(SmallInteger(), nullable=False)
#     orders = relationship("Order", backref='customer')

    def __repr__(self):
        return "<Item:{0}-{1}>".format(self.id, self.name)    
    
    __table_args__ = (
        CheckConstraint('quantity > 0', name='quantity_check'),
    )
    

class Order(Base):
    __tablename__ = 'orders'
    id = Column(Integer(), primary_key=True)
    customer_id = Column(Integer(), ForeignKey('customers.id'))
    date_placed = Column(DateTime(), default=datetime.now, nullable=False)
    date_shipped = Column(DateTime())
#     items = relationship("OrderLine")
    
    def __repr__(self):
        return "<Order:{0}>".format(self.id)
    

class OrderLine(Base):
    __tablename__ = 'order_lines'
    id =  Column(Integer(), primary_key=True)
    order_id = Column(Integer(), ForeignKey('orders.id'))
    item_id = Column(Integer(), ForeignKey('items.id'))
    quantity = Column(SmallInteger())
    order = relationship("Order", backref='order_lines')
    item = relationship("Item")
    
    def __repr__(self):
        return "<OrderLine:{0}>".format(self.id)    

Base.metadata.drop_all(engine)
Base.metadata.create_all(engine)

2019-01-18 16:34:31,860 INFO sqlalchemy.engine.base.Engine select version()
2019-01-18 16:34:31,861 INFO sqlalchemy.engine.base.Engine {}
2019-01-18 16:34:31,863 INFO sqlalchemy.engine.base.Engine select current_schema()
2019-01-18 16:34:31,864 INFO sqlalchemy.engine.base.Engine {}
2019-01-18 16:34:31,865 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2019-01-18 16:34:31,866 INFO sqlalchemy.engine.base.Engine {}
2019-01-18 16:34:31,868 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2019-01-18 16:34:31,868 INFO sqlalchemy.engine.base.Engine {}
2019-01-18 16:34:31,869 INFO sqlalchemy.engine.base.Engine show standard_conforming_strings
2019-01-18 16:34:31,870 INFO sqlalchemy.engine.base.Engine {}
2019-01-18 16:34:31,871 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2019-01-18 16:34:31,872 INFO sqlalchemy.engine.base.Engine {'name': 'customers'}
2019-01-18 16:34:31,874 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2019-01-18 16:34:31,874 INFO sqlalchemy.engine.base.Engine {'name': 'items'}
2019-01-18 16:34:31,875 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2019-01-18 16:34:31,876 INFO sqlalchemy.engine.base.Engine {'name': 'orders'}
2019-01-18 16:34:31,877 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2019-01-18 16:34:31,878 INFO sqlalchemy.engine.base.Engine {'name': 'order_lines'}
2019-01-18 16:34:31,880 INFO sqlalchemy.engine.base.Engine
DROP TABLE order_lines
2019-01-18 16:34:31,880 INFO sqlalchemy.engine.base.Engine {}
2019-01-18 16:34:31,883 INFO sqlalchemy.engine.base.Engine COMMIT
2019-01-18 16:34:31,887 INFO sqlalchemy.engine.base.Engine
DROP TABLE orders
2019-01-18 16:34:31,888 INFO sqlalchemy.engine.base.Engine {}
2019-01-18 16:34:31,889 INFO sqlalchemy.engine.base.Engine COMMIT
2019-01-18 16:34:31,892 INFO sqlalchemy.engine.base.Engine
DROP TABLE items
2019-01-18 16:34:31,893 INFO sqlalchemy.engine.base.Engine {}
2019-01-18 16:34:31,894 INFO sqlalchemy.engine.base.Engine COMMIT
2019-01-18 16:34:31,897 INFO sqlalchemy.engine.base.Engine
DROP TABLE customers
2019-01-18 16:34:31,897 INFO sqlalchemy.engine.base.Engine {}
2019-01-18 16:34:31,899 INFO sqlalchemy.engine.base.Engine COMMIT
2019-01-18 16:34:31,902 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2019-01-18 16:34:31,902 INFO sqlalchemy.engine.base.Engine {'name': 'customers'}
2019-01-18 16:34:31,907 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2019-01-18 16:34:31,908 INFO sqlalchemy.engine.base.Engine {'name': 'items'}
2019-01-18 16:34:31,911 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2019-01-18 16:34:31,912 INFO sqlalchemy.engine.base.Engine {'name': 'orders'}
2019-01-18 16:34:31,915 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2019-01-18 16:34:31,916 INFO sqlalchemy.engine.base.Engine {'name': 'order_lines'}
2019-01-18 16:34:31,919 INFO sqlalchemy.engine.base.Engine
CREATE TABLE customers (
	id SERIAL NOT NULL,
	first_name VARCHAR(100) NOT NULL,
	last_name VARCHAR(100) NOT NULL,
	username VARCHAR(50) NOT NULL,
	email VARCHAR(200) NOT NULL,
	address VARCHAR(200) NOT NULL,
	town VARCHAR(50) NOT NULL,
	created_on TIMESTAMP WITHOUT TIME ZONE,
	updated_on TIMESTAMP WITHOUT TIME ZONE,
	PRIMARY KEY (id)
)


2019-01-18 16:34:31,921 INFO sqlalchemy.engine.base.Engine {}
2019-01-18 16:34:31,932 INFO sqlalchemy.engine.base.Engine COMMIT
2019-01-18 16:34:31,936 INFO sqlalchemy.engine.base.Engine
CREATE TABLE items (
	id SERIAL NOT NULL,
	name VARCHAR(200) NOT NULL,
	cost_price NUMERIC(10, 2) NOT NULL,
	selling_price NUMERIC(10, 2) NOT NULL,
	quantity SMALLINT NOT NULL,
	PRIMARY KEY (id),
	CONSTRAINT quantity_check CHECK (quantity > 0)
)


2019-01-18 16:34:31,937 INFO sqlalchemy.engine.base.Engine {}
2019-01-18 16:34:31,943 INFO sqlalchemy.engine.base.Engine COMMIT
2019-01-18 16:34:31,946 INFO sqlalchemy.engine.base.Engine
CREATE TABLE orders (
	id SERIAL NOT NULL,
	customer_id INTEGER,
	date_placed TIMESTAMP WITHOUT TIME ZONE NOT NULL,
	date_shipped TIMESTAMP WITHOUT TIME ZONE,
	PRIMARY KEY (id),
	FOREIGN KEY(customer_id) REFERENCES customers (id)
)


2019-01-18 16:34:31,947 INFO sqlalchemy.engine.base.Engine {}
2019-01-18 16:34:31,953 INFO sqlalchemy.engine.base.Engine COMMIT
2019-01-18 16:34:31,956 INFO sqlalchemy.engine.base.Engine
CREATE TABLE order_lines (
	id SERIAL NOT NULL,
	order_id INTEGER,
	item_id INTEGER,
	quantity SMALLINT,
	PRIMARY KEY (id),
	FOREIGN KEY(order_id) REFERENCES orders (id),
	FOREIGN KEY(item_id) REFERENCES items (id)
)


2019-01-18 16:34:31,957 INFO sqlalchemy.engine.base.Engine {}
2019-01-18 16:34:31,963 INFO sqlalchemy.engine.base.Engine COMMIT

## Inserting Data

In [3]:
c1 = Customer(first_name = 'John', 
              last_name = 'Green', 
              username = 'johngreen', 
              email = 'johngreen@mail.com', 
              address = '164 Hidden Valley Road',
              town = 'Norfolk'
             )

c2 = Customer(    
            first_name = 'Katherine',
            last_name = 'Wilson',
            username = 'katwilson',
            email = 'katwilson@gmail.com',
            address = '4685 West Side Avenue',
            town = 'Peterbrugh'    
             )

c1, c2

(<Customer:None-johngreen>, <Customer:None-katwilson>)

In [4]:
c1.first_name, c1.last_name
c2.first_name, c2.last_name

('John', 'Green')

('Katherine', 'Wilson')

In [5]:
session.add(c1)
session.add(c2)

In [6]:
c1.id, c2.id
# we see here that there is no id yet. this is because it is still not commited to the DB yet.

(None, None)

In [7]:
# instead of multiple session.add
session.add_all([c1, c2])

In [8]:
session.new
# session.new allows us to check the new items that were added to the session

IdentitySet([<Customer:None-johngreen>, <Customer:None-katwilson>])

In [9]:
session.commit()

2019-01-18 16:34:37,933 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-01-18 16:34:37,939 INFO sqlalchemy.engine.base.Engine INSERT INTO customers (first_name, last_name, username, email, address, town, created_on, updated_on) VALUES (%(first_name)s, %(last_name)s, %(username)s, %(email)s, %(address)s, %(town)s, %(created_on)s, %(updated_on)s) RETURNING customers.id
2019-01-18 16:34:37,940 INFO sqlalchemy.engine.base.Engine {'first_name': 'John', 'last_name': 'Green', 'username': 'johngreen', 'email': 'johngreen@mail.com', 'address': '164 Hidden Valley Road', 'town': 'Norfolk', 'created_on': datetime.datetime(2019, 1, 18, 16, 34, 37, 938943), 'updated_on': datetime.datetime(2019, 1, 18, 16, 34, 37, 938960)}
2019-01-18 16:34:37,943 INFO sqlalchemy.engine.base.Engine INSERT INTO customers (first_name, last_name, username, email, address, town, created_on, updated_on) VALUES (%(first_name)s, %(last_name)s, %(username)s, %(email)s, %(address)s, %(town)s, %(created_on)s, %(updated_on)s) RETURNING customers.id
2019-01-18 16:34:37,944 INFO sqlalchemy.engine.base.Engine {'first_name': 'Katherine', 'last_name': 'Wilson', 'username': 'katwilson', 'email': 'katwilson@gmail.com', 'address': '4685 West Side Avenue', 'town': 'Peterbrugh', 'created_on': datetime.datetime(2019, 1, 18, 16, 34, 37, 943449), 'updated_on': datetime.datetime(2019, 1, 18, 16, 34, 37, 943463)}
2019-01-18 16:34:37,947 INFO sqlalchemy.engine.base.Engine COMMIT

In [10]:
# immedaitely after committing, when trying to access an attribute, a select statement is emitted to 
# refresh the object in the application space
c1.id, c2.id

2019-01-18 16:34:42,102 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-01-18 16:34:42,107 INFO sqlalchemy.engine.base.Engine SELECT customers.id AS customers_id, customers.first_name AS customers_first_name, customers.last_name AS customers_last_name, customers.username AS customers_username, customers.email AS customers_email, customers.address AS customers_address, customers.town AS customers_town, customers.created_on AS customers_created_on, customers.updated_on AS customers_updated_on
FROM customers
WHERE customers.id = %(param_1)s
2019-01-18 16:34:42,110 INFO sqlalchemy.engine.base.Engine {'param_1': 1}
2019-01-18 16:34:42,115 INFO sqlalchemy.engine.base.Engine SELECT customers.id AS customers_id, customers.first_name AS customers_first_name, customers.last_name AS customers_last_name, customers.username AS customers_username, customers.email AS customers_email, customers.address AS customers_address, customers.town AS customers_town, customers.created_on AS customers_created_on, customers.updated_on AS customers_updated_on
FROM customers
WHERE customers.id = %(param_1)s
2019-01-18 16:34:42,118 INFO sqlalchemy.engine.base.Engine {'param_1': 2}

(1, 2)

In [11]:
# here, when accessing a relationship `orders`, it emits another sql select
c1.orders, c2.orders

2019-01-18 16:35:01,005 INFO sqlalchemy.engine.base.Engine SELECT orders.id AS orders_id, orders.customer_id AS orders_customer_id, orders.date_placed AS orders_date_placed, orders.date_shipped AS orders_date_shipped
FROM orders
WHERE %(param_1)s = orders.customer_id
2019-01-18 16:35:01,013 INFO sqlalchemy.engine.base.Engine {'param_1': 1}
2019-01-18 16:35:01,019 INFO sqlalchemy.engine.base.Engine SELECT orders.id AS orders_id, orders.customer_id AS orders_customer_id, orders.date_placed AS orders_date_placed, orders.date_shipped AS orders_date_shipped
FROM orders
WHERE %(param_1)s = orders.customer_id
2019-01-18 16:35:01,020 INFO sqlalchemy.engine.base.Engine {'param_1': 2}

([], [])

In [13]:
c3 = Customer(
            first_name = "John", 
            last_name = "Lara", 
            username = "johnlara", 
            email = "johnlara@mail.com", 
            address = "3073 Derek Drive",
            town = "Norfolk"
)

c4 = Customer(          
            first_name = "Sarah", 
            last_name = "Tomlin", 
            username = "sarahtomlin", 
            email = "sarahtomlin@mail.com",
            address = "3572 Poplar Avenue",
            town = "Norfolk"        
)

c5 = Customer(first_name = 'Toby', 
              last_name = 'Miller', 
              username = 'tmiller', 
              email = 'tmiller@example.com', 
              address = '1662 Kinney Street',
              town = 'Wolfden'
             )

c6 = Customer(first_name = 'Scott', 
              last_name = 'Harvey', 
              username = 'scottharvey', 
              email = 'scottharvey@example.com', 
              address = '424 Patterson Street',
              town = 'Beckinsdale'
             )

# add_all emits as many insert statements as there are objects
session.add_all([c3, c4, c5, c6])
session.commit()

2019-01-18 16:37:46,070 INFO sqlalchemy.engine.base.Engine INSERT INTO customers (first_name, last_name, username, email, address, town, created_on, updated_on) VALUES (%(first_name)s, %(last_name)s, %(username)s, %(email)s, %(address)s, %(town)s, %(created_on)s, %(updated_on)s) RETURNING customers.id
2019-01-18 16:37:46,071 INFO sqlalchemy.engine.base.Engine {'first_name': 'John', 'last_name': 'Lara', 'username': 'johnlara', 'email': 'johnlara@mail.com', 'address': '3073 Derek Drive', 'town': 'Norfolk', 'created_on': datetime.datetime(2019, 1, 18, 16, 37, 46, 70236), 'updated_on': datetime.datetime(2019, 1, 18, 16, 37, 46, 70256)}
2019-01-18 16:37:46,074 INFO sqlalchemy.engine.base.Engine INSERT INTO customers (first_name, last_name, username, email, address, town, created_on, updated_on) VALUES (%(first_name)s, %(last_name)s, %(username)s, %(email)s, %(address)s, %(town)s, %(created_on)s, %(updated_on)s) RETURNING customers.id
2019-01-18 16:37:46,075 INFO sqlalchemy.engine.base.Engine {'first_name': 'Sarah', 'last_name': 'Tomlin', 'username': 'sarahtomlin', 'email': 'sarahtomlin@mail.com', 'address': '3572 Poplar Avenue', 'town': 'Norfolk', 'created_on': datetime.datetime(2019, 1, 18, 16, 37, 46, 74138), 'updated_on': datetime.datetime(2019, 1, 18, 16, 37, 46, 74149)}
2019-01-18 16:37:46,077 INFO sqlalchemy.engine.base.Engine INSERT INTO customers (first_name, last_name, username, email, address, town, created_on, updated_on) VALUES (%(first_name)s, %(last_name)s, %(username)s, %(email)s, %(address)s, %(town)s, %(created_on)s, %(updated_on)s) RETURNING customers.id
2019-01-18 16:37:46,078 INFO sqlalchemy.engine.base.Engine {'first_name': 'Toby', 'last_name': 'Miller', 'username': 'tmiller', 'email': 'tmiller@example.com', 'address': '1662 Kinney Street', 'town': 'Wolfden', 'created_on': datetime.datetime(2019, 1, 18, 16, 37, 46, 77855), 'updated_on': datetime.datetime(2019, 1, 18, 16, 37, 46, 77866)}
2019-01-18 16:37:46,080 INFO sqlalchemy.engine.base.Engine INSERT INTO customers (first_name, last_name, username, email, address, town, created_on, updated_on) VALUES (%(first_name)s, %(last_name)s, %(username)s, %(email)s, %(address)s, %(town)s, %(created_on)s, %(updated_on)s) RETURNING customers.id
2019-01-18 16:37:46,081 INFO sqlalchemy.engine.base.Engine {'first_name': 'Scott', 'last_name': 'Harvey', 'username': 'scottharvey', 'email': 'scottharvey@example.com', 'address': '424 Patterson Street', 'town': 'Beckinsdale', 'created_on': datetime.datetime(2019, 1, 18, 16, 37, 46, 80277), 'updated_on': datetime.datetime(2019, 1, 18, 16, 37, 46, 80289)}
2019-01-18 16:37:46,082 INFO sqlalchemy.engine.base.Engine COMMIT

In [14]:
i1 = Item(name = 'Chair', cost_price = 9.21, selling_price = 10.81, quantity = 5)
i2 = Item(name = 'Pen', cost_price = 3.45, selling_price = 4.51, quantity = 3)
i3 = Item(name = 'Headphone', cost_price = 15.52, selling_price = 16.81, quantity = 50)
i4 = Item(name = 'Travel Bag', cost_price = 20.1, selling_price = 24.21, quantity = 50)
i5 = Item(name = 'Keyboard', cost_price = 20.1, selling_price = 22.11, quantity = 50)
i6 = Item(name = 'Monitor', cost_price = 200.14, selling_price = 212.89, quantity = 50)
i7 = Item(name = 'Watch', cost_price = 100.58, selling_price = 104.41, quantity = 50)
i8 = Item(name = 'Water Bottle', cost_price = 20.89, selling_price = 25, quantity = 50)

session.add_all([i1, i2, i3, i4, i5, i6, i7, i8])
session.commit()

2019-01-18 16:38:20,803 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-01-18 16:38:20,807 INFO sqlalchemy.engine.base.Engine INSERT INTO items (name, cost_price, selling_price, quantity) VALUES (%(name)s, %(cost_price)s, %(selling_price)s, %(quantity)s) RETURNING items.id
2019-01-18 16:38:20,807 INFO sqlalchemy.engine.base.Engine {'name': 'Chair', 'cost_price': 9.21, 'selling_price': 10.81, 'quantity': 5}
2019-01-18 16:38:20,810 INFO sqlalchemy.engine.base.Engine INSERT INTO items (name, cost_price, selling_price, quantity) VALUES (%(name)s, %(cost_price)s, %(selling_price)s, %(quantity)s) RETURNING items.id
2019-01-18 16:38:20,811 INFO sqlalchemy.engine.base.Engine {'name': 'Pen', 'cost_price': 3.45, 'selling_price': 4.51, 'quantity': 3}
2019-01-18 16:38:20,812 INFO sqlalchemy.engine.base.Engine INSERT INTO items (name, cost_price, selling_price, quantity) VALUES (%(name)s, %(cost_price)s, %(selling_price)s, %(quantity)s) RETURNING items.id
2019-01-18 16:38:20,813 INFO sqlalchemy.engine.base.Engine {'name': 'Headphone', 'cost_price': 15.52, 'selling_price': 16.81, 'quantity': 50}
2019-01-18 16:38:20,815 INFO sqlalchemy.engine.base.Engine INSERT INTO items (name, cost_price, selling_price, quantity) VALUES (%(name)s, %(cost_price)s, %(selling_price)s, %(quantity)s) RETURNING items.id
2019-01-18 16:38:20,815 INFO sqlalchemy.engine.base.Engine {'name': 'Travel Bag', 'cost_price': 20.1, 'selling_price': 24.21, 'quantity': 50}
2019-01-18 16:38:20,817 INFO sqlalchemy.engine.base.Engine INSERT INTO items (name, cost_price, selling_price, quantity) VALUES (%(name)s, %(cost_price)s, %(selling_price)s, %(quantity)s) RETURNING items.id
2019-01-18 16:38:20,818 INFO sqlalchemy.engine.base.Engine {'name': 'Keyboard', 'cost_price': 20.1, 'selling_price': 22.11, 'quantity': 50}
2019-01-18 16:38:20,819 INFO sqlalchemy.engine.base.Engine INSERT INTO items (name, cost_price, selling_price, quantity) VALUES (%(name)s, %(cost_price)s, %(selling_price)s, %(quantity)s) RETURNING items.id
2019-01-18 16:38:20,820 INFO sqlalchemy.engine.base.Engine {'name': 'Monitor', 'cost_price': 200.14, 'selling_price': 212.89, 'quantity': 50}
2019-01-18 16:38:20,821 INFO sqlalchemy.engine.base.Engine INSERT INTO items (name, cost_price, selling_price, quantity) VALUES (%(name)s, %(cost_price)s, %(selling_price)s, %(quantity)s) RETURNING items.id
2019-01-18 16:38:20,823 INFO sqlalchemy.engine.base.Engine {'name': 'Watch', 'cost_price': 100.58, 'selling_price': 104.41, 'quantity': 50}
2019-01-18 16:38:20,825 INFO sqlalchemy.engine.base.Engine INSERT INTO items (name, cost_price, selling_price, quantity) VALUES (%(name)s, %(cost_price)s, %(selling_price)s, %(quantity)s) RETURNING items.id
2019-01-18 16:38:20,825 INFO sqlalchemy.engine.base.Engine {'name': 'Water Bottle', 'cost_price': 20.89, 'selling_price': 25, 'quantity': 50}
2019-01-18 16:38:20,827 INFO sqlalchemy.engine.base.Engine COMMIT

In [18]:
o1 = Order(customer = c1)
o2 = Order(customer = c1)

order_line1 = OrderLine(order = o1, item = i1, quantity =  3)
order_line2 = OrderLine(order = o1, item = i2, quantity =  2)
order_line3 = OrderLine(order = o2, item = i1, quantity =  1)
order_line4 = OrderLine(order = o2, item = i2, quantity =  4)

session.add_all([o1, o2])

session.new
session.commit()

IdentitySet([<Order:None>, <Order:None>, <OrderLine:None>, <OrderLine:None>, <OrderLine:None>, <OrderLine:None>])

2019-01-18 16:44:41,211 INFO sqlalchemy.engine.base.Engine SELECT items.id AS items_id, items.name AS items_name, items.cost_price AS items_cost_price, items.selling_price AS items_selling_price, items.quantity AS items_quantity
FROM items
WHERE items.id = %(param_1)s
2019-01-18 16:44:41,216 INFO sqlalchemy.engine.base.Engine {'param_1': 1}
2019-01-18 16:44:41,228 INFO sqlalchemy.engine.base.Engine SELECT items.id AS items_id, items.name AS items_name, items.cost_price AS items_cost_price, items.selling_price AS items_selling_price, items.quantity AS items_quantity
FROM items
WHERE items.id = %(param_1)s
2019-01-18 16:44:41,235 INFO sqlalchemy.engine.base.Engine {'param_1': 2}
2019-01-18 16:44:41,243 INFO sqlalchemy.engine.base.Engine INSERT INTO orders (customer_id, date_placed, date_shipped) VALUES (%(customer_id)s, %(date_placed)s, %(date_shipped)s) RETURNING orders.id
2019-01-18 16:44:41,246 INFO sqlalchemy.engine.base.Engine {'customer_id': 1, 'date_placed': datetime.datetime(2019, 1, 18, 16, 44, 41, 243352), 'date_shipped': None}
2019-01-18 16:44:41,249 INFO sqlalchemy.engine.base.Engine INSERT INTO orders (customer_id, date_placed, date_shipped) VALUES (%(customer_id)s, %(date_placed)s, %(date_shipped)s) RETURNING orders.id
2019-01-18 16:44:41,252 INFO sqlalchemy.engine.base.Engine {'customer_id': 1, 'date_placed': datetime.datetime(2019, 1, 18, 16, 44, 41, 249927), 'date_shipped': None}
2019-01-18 16:44:41,256 INFO sqlalchemy.engine.base.Engine INSERT INTO order_lines (order_id, item_id, quantity) VALUES (%(order_id)s, %(item_id)s, %(quantity)s) RETURNING order_lines.id
2019-01-18 16:44:41,257 INFO sqlalchemy.engine.base.Engine {'order_id': 2, 'item_id': 1, 'quantity': 3}
2019-01-18 16:44:41,260 INFO sqlalchemy.engine.base.Engine INSERT INTO order_lines (order_id, item_id, quantity) VALUES (%(order_id)s, %(item_id)s, %(quantity)s) RETURNING order_lines.id
2019-01-18 16:44:41,261 INFO sqlalchemy.engine.base.Engine {'order_id': 2, 'item_id': 2, 'quantity': 2}
2019-01-18 16:44:41,263 INFO sqlalchemy.engine.base.Engine INSERT INTO order_lines (order_id, item_id, quantity) VALUES (%(order_id)s, %(item_id)s, %(quantity)s) RETURNING order_lines.id
2019-01-18 16:44:41,266 INFO sqlalchemy.engine.base.Engine {'order_id': 3, 'item_id': 1, 'quantity': 1}
2019-01-18 16:44:41,268 INFO sqlalchemy.engine.base.Engine INSERT INTO order_lines (order_id, item_id, quantity) VALUES (%(order_id)s, %(item_id)s, %(quantity)s) RETURNING order_lines.id
2019-01-18 16:44:41,269 INFO sqlalchemy.engine.base.Engine {'order_id': 3, 'item_id': 2, 'quantity': 4}
2019-01-18 16:44:41,271 INFO sqlalchemy.engine.base.Engine COMMIT

In [15]:
o3 = Order(customer = c1)   # this is using the relationship. Must be specific when assigning actual objects together

orderline1 = OrderLine(item = i1, quantity = 5)
orderline2 = OrderLine(item = i2, quantity = 10)

o3.order_lines.append(orderline1)
o3.order_lines.append(orderline2)

session.add_all([o3])

session.commit()

2019-01-18 16:44:21,882 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-01-18 16:44:21,886 INFO sqlalchemy.engine.base.Engine SELECT customers.id AS customers_id, customers.first_name AS customers_first_name, customers.last_name AS customers_last_name, customers.username AS customers_username, customers.email AS customers_email, customers.address AS customers_address, customers.town AS customers_town, customers.created_on AS customers_created_on, customers.updated_on AS customers_updated_on
FROM customers
WHERE customers.id = %(param_1)s
2019-01-18 16:44:21,887 INFO sqlalchemy.engine.base.Engine {'param_1': 1}
2019-01-18 16:44:21,893 INFO sqlalchemy.engine.base.Engine SELECT items.id AS items_id, items.name AS items_name, items.cost_price AS items_cost_price, items.selling_price AS items_selling_price, items.quantity AS items_quantity
FROM items
WHERE items.id = %(param_1)s
2019-01-18 16:44:21,896 INFO sqlalchemy.engine.base.Engine {'param_1': 1}
2019-01-18 16:44:21,901 INFO sqlalchemy.engine.base.Engine SELECT items.id AS items_id, items.name AS items_name, items.cost_price AS items_cost_price, items.selling_price AS items_selling_price, items.quantity AS items_quantity
FROM items
WHERE items.id = %(param_1)s
2019-01-18 16:44:21,903 INFO sqlalchemy.engine.base.Engine {'param_1': 2}
2019-01-18 16:44:21,905 INFO sqlalchemy.engine.base.Engine INSERT INTO orders (customer_id, date_placed, date_shipped) VALUES (%(customer_id)s, %(date_placed)s, %(date_shipped)s) RETURNING orders.id
2019-01-18 16:44:21,906 INFO sqlalchemy.engine.base.Engine {'customer_id': 1, 'date_placed': datetime.datetime(2019, 1, 18, 16, 44, 21, 905652), 'date_shipped': None}
2019-01-18 16:44:21,909 INFO sqlalchemy.engine.base.Engine INSERT INTO order_lines (order_id, item_id, quantity) VALUES (%(order_id)s, %(item_id)s, %(quantity)s) RETURNING order_lines.id
2019-01-18 16:44:21,909 INFO sqlalchemy.engine.base.Engine {'order_id': 1, 'item_id': 1, 'quantity': 5}
2019-01-18 16:44:21,912 INFO sqlalchemy.engine.base.Engine INSERT INTO order_lines (order_id, item_id, quantity) VALUES (%(order_id)s, %(item_id)s, %(quantity)s) RETURNING order_lines.id
2019-01-18 16:44:21,912 INFO sqlalchemy.engine.base.Engine {'order_id': 1, 'item_id': 2, 'quantity': 10}
2019-01-18 16:44:21,914 INFO sqlalchemy.engine.base.Engine COMMIT

In [16]:
c1.orders

2019-01-18 16:44:31,208 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-01-18 16:44:31,214 INFO sqlalchemy.engine.base.Engine SELECT customers.id AS customers_id, customers.first_name AS customers_first_name, customers.last_name AS customers_last_name, customers.username AS customers_username, customers.email AS customers_email, customers.address AS customers_address, customers.town AS customers_town, customers.created_on AS customers_created_on, customers.updated_on AS customers_updated_on
FROM customers
WHERE customers.id = %(param_1)s
2019-01-18 16:44:31,216 INFO sqlalchemy.engine.base.Engine {'param_1': 1}
2019-01-18 16:44:31,221 INFO sqlalchemy.engine.base.Engine SELECT orders.id AS orders_id, orders.customer_id AS orders_customer_id, orders.date_placed AS orders_date_placed, orders.date_shipped AS orders_date_shipped
FROM orders
WHERE %(param_1)s = orders.customer_id
2019-01-18 16:44:31,224 INFO sqlalchemy.engine.base.Engine {'param_1': 1}

In [19]:
o1.customer

2019-01-18 16:44:46,054 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-01-18 16:44:46,062 INFO sqlalchemy.engine.base.Engine SELECT orders.id AS orders_id, orders.customer_id AS orders_customer_id, orders.date_placed AS orders_date_placed, orders.date_shipped AS orders_date_shipped
FROM orders
WHERE orders.id = %(param_1)s
2019-01-18 16:44:46,063 INFO sqlalchemy.engine.base.Engine {'param_1': 2}
2019-01-18 16:44:46,068 INFO sqlalchemy.engine.base.Engine SELECT customers.id AS customers_id, customers.first_name AS customers_first_name, customers.last_name AS customers_last_name, customers.username AS customers_username, customers.email AS customers_email, customers.address AS customers_address, customers.town AS customers_town, customers.created_on AS customers_created_on, customers.updated_on AS customers_updated_on
FROM customers
WHERE customers.id = %(param_1)s
2019-01-18 16:44:46,070 INFO sqlalchemy.engine.base.Engine {'param_1': 1}

In [20]:
c1.orders[0].order_lines, c1.orders[1].order_lines

2019-01-18 16:44:47,852 INFO sqlalchemy.engine.base.Engine SELECT orders.id AS orders_id, orders.customer_id AS orders_customer_id, orders.date_placed AS orders_date_placed, orders.date_shipped AS orders_date_shipped
FROM orders
WHERE %(param_1)s = orders.customer_id
2019-01-18 16:44:47,856 INFO sqlalchemy.engine.base.Engine {'param_1': 1}
2019-01-18 16:44:47,861 INFO sqlalchemy.engine.base.Engine SELECT order_lines.id AS order_lines_id, order_lines.order_id AS order_lines_order_id, order_lines.item_id AS order_lines_item_id, order_lines.quantity AS order_lines_quantity
FROM order_lines
WHERE %(param_1)s = order_lines.order_id
2019-01-18 16:44:47,871 INFO sqlalchemy.engine.base.Engine {'param_1': 1}
2019-01-18 16:44:47,875 INFO sqlalchemy.engine.base.Engine SELECT order_lines.id AS order_lines_id, order_lines.order_id AS order_lines_order_id, order_lines.item_id AS order_lines_item_id, order_lines.quantity AS order_lines_quantity
FROM order_lines
WHERE %(param_1)s = order_lines.order_id
2019-01-18 16:44:47,876 INFO sqlalchemy.engine.base.Engine {'param_1': 2}

([<OrderLine:1>, <OrderLine:2>], [<OrderLine:3>, <OrderLine:4>])

In [21]:
for ol in c1.orders[0].order_lines:
    ol.id, ol.item, ol.quantity
    
print('-------')
    
for ol in c1.orders[1].order_lines:
    ol.id, ol.item, ol.quantity

(1, <Item:1-Chair>, 3)

(2, <Item:2-Pen>, 2)

-------

(3, <Item:1-Chair>, 1)

(4, <Item:2-Pen>, 4)

## Querying Data

### all() method

In [21]:
session.query(Customer).all()

2019-01-18 16:45:05,105 INFO sqlalchemy.engine.base.Engine SELECT customers.id AS customers_id, customers.first_name AS customers_first_name, customers.last_name AS customers_last_name, customers.username AS customers_username, customers.email AS customers_email, customers.address AS customers_address, customers.town AS customers_town, customers.created_on AS customers_created_on, customers.updated_on AS customers_updated_on
FROM customers
2019-01-18 16:45:05,116 INFO sqlalchemy.engine.base.Engine {}

[<Customer:1-johngreen>,
 <Customer:2-katwilson>,
 <Customer:3-johnlara>,
 <Customer:4-sarahtomlin>,
 <Customer:5-tmiller>,
 <Customer:6-scottharvey>]

In [23]:
session.query(Item).all()
session.query(Order).all()

2019-01-18 16:47:32,195 INFO sqlalchemy.engine.base.Engine SELECT items.id AS items_id, items.name AS items_name, items.cost_price AS items_cost_price, items.selling_price AS items_selling_price, items.quantity AS items_quantity
FROM items
2019-01-18 16:47:32,198 INFO sqlalchemy.engine.base.Engine {}

[<Item:1-Chair>,
 <Item:2-Pen>,
 <Item:3-Headphone>,
 <Item:4-Travel Bag>,
 <Item:5-Keyboard>,
 <Item:6-Monitor>,
 <Item:7-Watch>,
 <Item:8-Water Bottle>]

2019-01-18 16:47:32,203 INFO sqlalchemy.engine.base.Engine SELECT orders.id AS orders_id, orders.customer_id AS orders_customer_id, orders.date_placed AS orders_date_placed, orders.date_shipped AS orders_date_shipped
FROM orders
2019-01-18 16:47:32,205 INFO sqlalchemy.engine.base.Engine {}

In [24]:
print(session.query(Customer))

SELECT customers.id AS customers_id, customers.first_name AS customers_first_name, customers.last_name AS customers_last_name, customers.username AS customers_username, customers.email AS customers_email, customers.address AS customers_address, customers.town AS customers_town, customers.created_on AS customers_created_on, customers.updated_on AS customers_updated_on
FROM customers

In [25]:
q = session.query(Customer)

for c in q:
    print(c.id, c.first_name)

2019-01-18 16:47:40,458 INFO sqlalchemy.engine.base.Engine SELECT customers.id AS customers_id, customers.first_name AS customers_first_name, customers.last_name AS customers_last_name, customers.username AS customers_username, customers.email AS customers_email, customers.address AS customers_address, customers.town AS customers_town, customers.created_on AS customers_created_on, customers.updated_on AS customers_updated_on
FROM customers
2019-01-18 16:47:40,464 INFO sqlalchemy.engine.base.Engine {}
1 John
2 Katherine
3 John
4 Sarah
5 Toby
6 Scott

In [27]:
# access less columns in the DB, so its abit better performance.
# but take note, it returns a tuple of column values for each object. be careful of accessing that
session.query(Customer.id, Customer.first_name).all()

2019-01-18 16:50:31,457 INFO sqlalchemy.engine.base.Engine SELECT customers.id AS customers_id, customers.first_name AS customers_first_name
FROM customers
2019-01-18 16:50:31,460 INFO sqlalchemy.engine.base.Engine {}

[(1, 'John'),
 (2, 'Katherine'),
 (3, 'John'),
 (4, 'Sarah'),
 (5, 'Toby'),
 (6, 'Scott')]

### Looking at lazy loaded vs eager loaded

### count() method

In [27]:
session.query(Customer).count() # get the total number of records in the customers table
session.query(Item).count()  # get the total number of records in the items table
session.query(Order).count()  # get the total number of records in the orders table

6

8

3

### first() method

In [28]:
session.query(Customer).first()
session.query(Item).first()
session.query(Order).first()

### get() method

In [29]:
session.query(Customer).get(1)
session.query(Item).get(1)
session.query(Order).get(100)

### filter() method

In [30]:
session.query(Customer).filter(Customer.first_name == 'John').all()

In [31]:
print(session.query(Customer).filter(Customer.first_name == 'John'))

SELECT customers.id AS customers_id, customers.first_name AS customers_first_name, customers.last_name AS customers_last_name, customers.username AS customers_username, customers.email AS customers_email, customers.address AS customers_address, customers.town AS customers_town, customers.created_on AS customers_created_on, customers.updated_on AS customers_updated_on
FROM customers
WHERE customers.first_name = %(first_name_1)s

In [32]:
session.query(Customer).filter(Customer.id <= 5, Customer.town == "Norfolk").all()

In [33]:
print(session.query(Customer).filter(Customer.id <= 5, Customer.town.like("Nor%")))

SELECT customers.id AS customers_id, customers.first_name AS customers_first_name, customers.last_name AS customers_last_name, customers.username AS customers_username, customers.email AS customers_email, customers.address AS customers_address, customers.town AS customers_town, customers.created_on AS customers_created_on, customers.updated_on AS customers_updated_on
FROM customers
WHERE customers.id <= %(id_1)s AND customers.town LIKE %(town_1)s

In [34]:
from sqlalchemy import or_, and_, not_

# find all customers who either live in Peterbrugh or Norfolk

session.query(Customer).filter(or_(
    Customer.town == 'Peterbrugh', 
    Customer.town == 'Norfolk'
)).all()


# find all customers whose first name is John and live in Norfolk

session.query(Customer).filter(and_(
    Customer.first_name == 'John', 
    Customer.town == 'Norfolk'
)).all()


# find all johns who don't live in Peterbrugh

session.query(Customer).filter(and_(
    Customer.first_name == 'John', 
    not_(
        Customer.town == 'Peterbrugh', 
    )
)).all()

[<Customer:1-johngreen>,
 <Customer:2-katwilson>,
 <Customer:3-johnlara>,
 <Customer:4-sarahtomlin>]

### IS NULL

In [35]:
session.query(Order).filter(Order.date_shipped == None).all()

### IS NOT NULL

In [36]:
session.query(Order).filter(Order.date_shipped != None).all()

[]

### IN

In [37]:
session.query(Customer).filter(Customer.first_name.in_(['Toby', 'Sarah'])).all()

### NOT IN

In [38]:
session.query(Customer).filter(Customer.first_name.notin_(['Toby', 'Sarah'])).all()

[<Customer:1-johngreen>,
 <Customer:2-katwilson>,
 <Customer:3-johnlara>,
 <Customer:6-scottharvey>]

### BETWEEN

In [39]:
session.query(Item).filter(Item.cost_price.between(10, 50)).all()

[<Item:3-Headphone>,
 <Item:4-Travel Bag>,
 <Item:5-Keyboard>,
 <Item:8-Water Bottle>]

### NOT BETWEEN

In [41]:
session.query(Item).filter(not_(Item.cost_price.between(10, 50))).all()

### LIKE

In [44]:
session.query(Item).filter(Item.name.like("%r")).all()

In [48]:
session.query(Item).filter(Item.name.ilike("w%")).all()

### NOT LIKE

In [49]:
session.query(Item).filter(not_(Item.name.like("W%"))).all()

[<Item:1-Chair>,
 <Item:2-Pen>,
 <Item:3-Headphone>,
 <Item:4-Travel Bag>,
 <Item:5-Keyboard>,
 <Item:6-Monitor>]

## limit() method

In [52]:
session.query(Customer).limit(2).all()
session.query(Customer).filter(Customer.address.ilike("%avenue")).limit(2).all()

In [53]:
print(session.query(Customer).limit(2))
print(session.query(Customer).filter(Customer.address.ilike("%avenue")).limit(2))

SELECT customers.id AS customers_id, customers.first_name AS customers_first_name, customers.last_name AS customers_last_name, customers.username AS customers_username, customers.email AS customers_email, customers.address AS customers_address, customers.town AS customers_town, customers.created_on AS customers_created_on, customers.updated_on AS customers_updated_on
FROM customers
 LIMIT %(param_1)s
SELECT customers.id AS customers_id, customers.first_name AS customers_first_name, customers.last_name AS customers_last_name, customers.username AS customers_username, customers.email AS customers_email, customers.address AS customers_address, customers.town AS customers_town, customers.created_on AS customers_created_on, customers.updated_on AS customers_updated_on
FROM customers
WHERE customers.address ILIKE %(address_1)s
 LIMIT %(param_1)s

### offset() method

In [54]:
session.query(Customer).limit(2).offset(2).all()

In [58]:
print(session.query(Customer).limit(2).offset(2))

SELECT customers.id AS customers_id, customers.first_name AS customers_first_name, customers.last_name AS customers_last_name, customers.username AS customers_username, customers.email AS customers_email, customers.address AS customers_address, customers.town AS customers_town, customers.created_on AS customers_created_on, customers.updated_on AS customers_updated_on
FROM customers
 LIMIT %(param_1)s OFFSET %(param_2)s

### order_by() method

In [61]:
session.query(Item).filter(Item.name.ilike("wa%")).all()
session.query(Item).filter(Item.name.ilike("wa%")).order_by(Item.cost_price).all()

In [63]:
from sqlalchemy import desc
session.query(Item).filter(Item.name.ilike("wa%")).order_by(desc(Item.cost_price)).all()

### join() method

In [64]:
session.query(Customer).join(Order).all()

In [66]:
print(session.query(Customer).join(Order))

SELECT customers.id AS customers_id, customers.first_name AS customers_first_name, customers.last_name AS customers_last_name, customers.username AS customers_username, customers.email AS customers_email, customers.address AS customers_address, customers.town AS customers_town, customers.created_on AS customers_created_on, customers.updated_on AS customers_updated_on
FROM customers JOIN orders ON customers.id = orders.customer_id

In [69]:
session.query(Customer.id, Customer.username, Order.id).join(Order).all()

[(1, 'johngreen', 1), (1, 'johngreen', 2), (1, 'johngreen', 3)]

In [76]:
session.query(
    Customer.first_name, 
    Item.name, 
    Item.selling_price, 
    OrderLine.quantity
).join(Order).join(OrderLine).join(Item).filter(
    Customer.first_name == 'John',
    Customer.last_name == 'Green',
    Order.id == 1,
).all()

[('John', 'Chair', Decimal('10.81'), 3), ('John', 'Pen', Decimal('4.51'), 2)]

### outerjoin() method

In [77]:
session.query(        
    Customer.first_name,
    Order.id,
).outerjoin(Order).all()

[('John', 1),
 ('John', 2),
 ('John', 3),
 ('Katherine', None),
 ('Toby', None),
 ('Scott', None),
 ('Sarah', None),
 ('John', None)]

In [78]:
session.query(        
    Customer.first_name,
    Order.id,
).outerjoin(Order, full=True).all()

[('John', 1),
 ('John', 2),
 ('John', 3),
 ('Katherine', None),
 ('Toby', None),
 ('Scott', None),
 ('Sarah', None),
 ('John', None)]

### group_by() method

In [80]:
from sqlalchemy import func

session.query(func.count(Customer.id)).join(Order).filter(
    Customer.first_name == 'John',
    Customer.last_name == 'Green',    
).group_by(Customer.id).scalar()

3

### having() method

In [83]:
# find the number of customers lives in each town

session.query(
    func.count("*").label('town_count'),    
    Customer.town
).group_by(Customer.town).having(func.count("*") > 2).all()

[(3, 'Norfolk')]

## Dealing with Duplicates

In [85]:
from sqlalchemy import distinct

session.query(Customer.town).filter(Customer.id  < 10).all()
session.query(Customer.town).filter(Customer.id  < 10).distinct().all()

session.query(        
    func.count(distinct(Customer.town)),
    func.count(Customer.town)
).all()

[('Norfolk'),
 ('Peterbrugh'),
 ('Norfolk'),
 ('Norfolk'),
 ('Wolfden'),
 ('Beckinsdale')]

[('Peterbrugh'), ('Beckinsdale'), ('Wolfden'), ('Norfolk')]

[(4, 6)]

## Casting

In [87]:
from sqlalchemy import cast, Date, union

session.query(
    cast(func.pi(), Integer),
    cast(func.pi(), Numeric(10,2)),
    cast("2010-12-01", DateTime),
    cast("2010-12-01", Date),
).all()

[(3,
  Decimal('3.14'),
  datetime.datetime(2010, 12, 1, 0, 0),
  datetime.date(2010, 12, 1))]

## Unions

In [88]:
s1 = session.query(Item.id, Item.name).filter(Item.name.like("Wa%"))
s2 = session.query(Item.id, Item.name).filter(Item.name.like("%e%"))
s1.union(s2).all()

[(2, 'Pen'),
 (4, 'Travel Bag'),
 (3, 'Headphone'),
 (5, 'Keyboard'),
 (7, 'Watch'),
 (8, 'Water Bottle')]

In [89]:
s1.union_all(s2).all()

[(7, 'Watch'),
 (8, 'Water Bottle'),
 (2, 'Pen'),
 (3, 'Headphone'),
 (4, 'Travel Bag'),
 (5, 'Keyboard'),
 (8, 'Water Bottle')]

## Updating Data

In [90]:
i = session.query(Item).get(8)
i.selling_price = 25.91
session.add(i)
session.commit()

In [91]:
session.query(Item).filter(
    Item.name.ilike("W%")
).update({"quantity": 60}, synchronize_session='fetch')
session.commit()

2

## Deleting Data

In [94]:
i = session.query(Item).filter(Item.name == 'Monitor').one()
i
session.delete(i)
session.commit()

In [95]:
session.query(Item).filter(
    Item.name.ilike("W%")
).delete(synchronize_session='fetch')
session.commit()

2

## Raw Queries

In [98]:
from sqlalchemy import text

session.query(Customer).filter(text("first_name = 'John'")).all()

session.query(Customer).filter(text("town like 'Nor%'")).all()

session.query(Customer).filter(text("town like 'Nor%'")).order_by(text("first_name, id desc")).all()

## Transactions

In [99]:
from sqlalchemy import update
from sqlalchemy.exc import IntegrityError
from datetime import datetime


def dispatch_order(order_id):

    # check whether order_id is valid or not
    order = session.query(Order).get(order_id)
    
    if not order:
        raise ValueError("Invalid order id: {}.".format(order_id))    
        
    if order.date_shipped:
        print("Order already shipped.")
        return

    try:
        for i in order.order_lines:
            i.item.quantity = i.item.quantity - i.quantity            
        
        order.date_shipped = datetime.now()                            
        session.commit()
        print("Transaction completed.")

    except IntegrityError as e:
        print(e)
        print("Rolling back ...")
        session.rollback()
        print("Transaction failed.")

In [100]:
dispatch_order(1)

Transaction completed.

In [101]:
dispatch_order(2)

(psycopg2.IntegrityError) new row for relation "items" violates check constraint "quantity_check"
DETAIL:  Failing row contains (2, Pen, 3.45, 4.51, -3).
 [SQL: 'UPDATE items SET quantity=%(quantity)s WHERE items.id = %(items_id)s'] [parameters: ({'quantity': 1, 'items_id': 1}, {'quantity': -3, 'items_id': 2})] (Background on this error at: http://sqlalche.me/e/gkpj)
Rolling back ...
Transaction failed.

### Restarting the DB to understand lazy loaded vs eager loaded option

In [1]:
from sqlalchemy import create_engine, MetaData, Table, Integer, String, \
    Column, DateTime, ForeignKey, Numeric, SmallInteger, CheckConstraint

from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import relationship

from datetime import datetime

from sqlalchemy.orm import sessionmaker, Session


# This is reused for from the docker-compose
engine = create_engine("postgres://admin:password@localhost:5433/testdb", echo=True)


Session = sessionmaker(bind=engine)
session = Session()

Base = declarative_base()

class Customer(Base):
    __tablename__ = 'customers'
    id = Column(Integer(), primary_key=True)
    first_name = Column(String(100), nullable=False)
    last_name = Column(String(100), nullable=False)
    username = Column(String(50), nullable=False)
    email = Column(String(200), nullable=False)
    address = Column(String(200), nullable=False)
    town = Column(String(50), nullable=False)
    created_on = Column(DateTime(), default=datetime.now)
    updated_on = Column(DateTime(), default=datetime.now, onupdate=datetime.now)
    orders = relationship("Order", backref='customer', lazy='dynamic')
    
    def __repr__(self):
        return "<Customer:{0}-{1}>".format(self.id, self.username)


class Item(Base):
    __tablename__ = 'items'
    id = Column(Integer(), primary_key=True)
    name = Column(String(200), nullable=False)
    cost_price =  Column(Numeric(10, 2), nullable=False)
    selling_price = Column(Numeric(10, 2), nullable=False)
    quantity = Column(SmallInteger(), nullable=False)
#     orders = relationship("Order", backref='customer')

    def __repr__(self):
        return "<Item:{0}-{1}>".format(self.id, self.name)    
    
    __table_args__ = (
        CheckConstraint('quantity > 0', name='quantity_check'),
    )
    

class Order(Base):
    __tablename__ = 'orders'
    id = Column(Integer(), primary_key=True)
    name = Column(String())
    customer_id = Column(Integer(), ForeignKey('customers.id'))
    date_placed = Column(DateTime(), default=datetime.now, nullable=False)
    date_shipped = Column(DateTime())
#     items = relationship("OrderLine")
    
    def __repr__(self):
        return "<Order:{0}>".format(self.id)
    

class OrderLine(Base):
    __tablename__ = 'order_lines'
    id =  Column(Integer(), primary_key=True)
    order_id = Column(Integer(), ForeignKey('orders.id'))
    item_id = Column(Integer(), ForeignKey('items.id'))
    quantity = Column(SmallInteger())
    order = relationship("Order", backref='order_lines')
    item = relationship("Item")
    
    def __repr__(self):
        return "<OrderLine:{0}>".format(self.id)    

Base.metadata.drop_all(engine)
Base.metadata.create_all(engine)

2019-01-18 17:08:30,704 INFO sqlalchemy.engine.base.Engine select version()
2019-01-18 17:08:30,705 INFO sqlalchemy.engine.base.Engine {}
2019-01-18 17:08:30,707 INFO sqlalchemy.engine.base.Engine select current_schema()
2019-01-18 17:08:30,707 INFO sqlalchemy.engine.base.Engine {}
2019-01-18 17:08:30,709 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2019-01-18 17:08:30,709 INFO sqlalchemy.engine.base.Engine {}
2019-01-18 17:08:30,710 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2019-01-18 17:08:30,711 INFO sqlalchemy.engine.base.Engine {}
2019-01-18 17:08:30,712 INFO sqlalchemy.engine.base.Engine show standard_conforming_strings
2019-01-18 17:08:30,712 INFO sqlalchemy.engine.base.Engine {}
2019-01-18 17:08:30,714 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2019-01-18 17:08:30,714 INFO sqlalchemy.engine.base.Engine {'name': 'customers'}
2019-01-18 17:08:30,716 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2019-01-18 17:08:30,716 INFO sqlalchemy.engine.base.Engine {'name': 'items'}
2019-01-18 17:08:30,717 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2019-01-18 17:08:30,718 INFO sqlalchemy.engine.base.Engine {'name': 'orders'}
2019-01-18 17:08:30,720 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2019-01-18 17:08:30,721 INFO sqlalchemy.engine.base.Engine {'name': 'order_lines'}
2019-01-18 17:08:30,723 INFO sqlalchemy.engine.base.Engine
DROP TABLE order_lines
2019-01-18 17:08:30,724 INFO sqlalchemy.engine.base.Engine {}
2019-01-18 17:08:30,729 INFO sqlalchemy.engine.base.Engine COMMIT
2019-01-18 17:08:30,734 INFO sqlalchemy.engine.base.Engine
DROP TABLE orders
2019-01-18 17:08:30,735 INFO sqlalchemy.engine.base.Engine {}
2019-01-18 17:08:30,737 INFO sqlalchemy.engine.base.Engine COMMIT
2019-01-18 17:08:30,744 INFO sqlalchemy.engine.base.Engine
DROP TABLE items
2019-01-18 17:08:30,745 INFO sqlalchemy.engine.base.Engine {}
2019-01-18 17:08:30,746 INFO sqlalchemy.engine.base.Engine COMMIT
2019-01-18 17:08:30,749 INFO sqlalchemy.engine.base.Engine
DROP TABLE customers
2019-01-18 17:08:30,749 INFO sqlalchemy.engine.base.Engine {}
2019-01-18 17:08:30,752 INFO sqlalchemy.engine.base.Engine COMMIT
2019-01-18 17:08:30,755 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2019-01-18 17:08:30,755 INFO sqlalchemy.engine.base.Engine {'name': 'customers'}
2019-01-18 17:08:30,757 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2019-01-18 17:08:30,758 INFO sqlalchemy.engine.base.Engine {'name': 'items'}
2019-01-18 17:08:30,759 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2019-01-18 17:08:30,760 INFO sqlalchemy.engine.base.Engine {'name': 'orders'}
2019-01-18 17:08:30,762 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2019-01-18 17:08:30,763 INFO sqlalchemy.engine.base.Engine {'name': 'order_lines'}
2019-01-18 17:08:30,765 INFO sqlalchemy.engine.base.Engine
CREATE TABLE customers (
	id SERIAL NOT NULL,
	first_name VARCHAR(100) NOT NULL,
	last_name VARCHAR(100) NOT NULL,
	username VARCHAR(50) NOT NULL,
	email VARCHAR(200) NOT NULL,
	address VARCHAR(200) NOT NULL,
	town VARCHAR(50) NOT NULL,
	created_on TIMESTAMP WITHOUT TIME ZONE,
	updated_on TIMESTAMP WITHOUT TIME ZONE,
	PRIMARY KEY (id)
)


2019-01-18 17:08:30,766 INFO sqlalchemy.engine.base.Engine {}
2019-01-18 17:08:30,778 INFO sqlalchemy.engine.base.Engine COMMIT
2019-01-18 17:08:30,783 INFO sqlalchemy.engine.base.Engine
CREATE TABLE items (
	id SERIAL NOT NULL,
	name VARCHAR(200) NOT NULL,
	cost_price NUMERIC(10, 2) NOT NULL,
	selling_price NUMERIC(10, 2) NOT NULL,
	quantity SMALLINT NOT NULL,
	PRIMARY KEY (id),
	CONSTRAINT quantity_check CHECK (quantity > 0)
)


2019-01-18 17:08:30,784 INFO sqlalchemy.engine.base.Engine {}
2019-01-18 17:08:30,790 INFO sqlalchemy.engine.base.Engine COMMIT
2019-01-18 17:08:30,793 INFO sqlalchemy.engine.base.Engine
CREATE TABLE orders (
	id SERIAL NOT NULL,
	name VARCHAR,
	customer_id INTEGER,
	date_placed TIMESTAMP WITHOUT TIME ZONE NOT NULL,
	date_shipped TIMESTAMP WITHOUT TIME ZONE,
	PRIMARY KEY (id),
	FOREIGN KEY(customer_id) REFERENCES customers (id)
)


2019-01-18 17:08:30,794 INFO sqlalchemy.engine.base.Engine {}
2019-01-18 17:08:30,804 INFO sqlalchemy.engine.base.Engine COMMIT
2019-01-18 17:08:30,807 INFO sqlalchemy.engine.base.Engine
CREATE TABLE order_lines (
	id SERIAL NOT NULL,
	order_id INTEGER,
	item_id INTEGER,
	quantity SMALLINT,
	PRIMARY KEY (id),
	FOREIGN KEY(order_id) REFERENCES orders (id),
	FOREIGN KEY(item_id) REFERENCES items (id)
)


2019-01-18 17:08:30,808 INFO sqlalchemy.engine.base.Engine {}
2019-01-18 17:08:30,814 INFO sqlalchemy.engine.base.Engine COMMIT

In [2]:
c1 = Customer(first_name = 'John', 
              last_name = 'Green', 
              username = 'johngreen', 
              email = 'johngreen@mail.com', 
              address = '164 Hidden Valley Road',
              town = 'Norfolk'
             )

c2 = Customer(    
            first_name = 'Katherine',
            last_name = 'Wilson',
            username = 'katwilson',
            email = 'katwilson@gmail.com',
            address = '4685 West Side Avenue',
            town = 'Peterbrugh'    
             )
c3 = Customer(
            first_name = "John", 
            last_name = "Lara", 
            username = "johnlara", 
            email = "johnlara@mail.com", 
            address = "3073 Derek Drive",
            town = "Norfolk"
)

c4 = Customer(          
            first_name = "Sarah", 
            last_name = "Tomlin", 
            username = "sarahtomlin", 
            email = "sarahtomlin@mail.com",
            address = "3572 Poplar Avenue",
            town = "Norfolk"        
)

c5 = Customer(first_name = 'Toby', 
              last_name = 'Miller', 
              username = 'tmiller', 
              email = 'tmiller@example.com', 
              address = '1662 Kinney Street',
              town = 'Wolfden'
             )

c6 = Customer(first_name = 'Scott', 
              last_name = 'Harvey', 
              username = 'scottharvey', 
              email = 'scottharvey@example.com', 
              address = '424 Patterson Street',
              town = 'Beckinsdale'
             )


i1 = Item(name = 'Chair', cost_price = 9.21, selling_price = 10.81, quantity = 5)
i2 = Item(name = 'Pen', cost_price = 3.45, selling_price = 4.51, quantity = 3)
i3 = Item(name = 'Headphone', cost_price = 15.52, selling_price = 16.81, quantity = 50)
i4 = Item(name = 'Travel Bag', cost_price = 20.1, selling_price = 24.21, quantity = 50)
i5 = Item(name = 'Keyboard', cost_price = 20.1, selling_price = 22.11, quantity = 50)
i6 = Item(name = 'Monitor', cost_price = 200.14, selling_price = 212.89, quantity = 50)
i7 = Item(name = 'Watch', cost_price = 100.58, selling_price = 104.41, quantity = 50)
i8 = Item(name = 'Water Bottle', cost_price = 20.89, selling_price = 25, quantity = 50)



o1 = Order(customer = c1, name='order 1 name')
o2 = Order(customer = c1,  name='order 2 name')
o3 = Order(customer = c1,  name='order 3 name')   # this is using the relationship. Must be specific when assigning actual objects together



order_line1 = OrderLine(order = o1, item = i1, quantity =  3)
order_line2 = OrderLine(order = o1, item = i2, quantity =  2)
order_line3 = OrderLine(order = o2, item = i1, quantity =  1)
order_line4 = OrderLine(order = o2, item = i2, quantity =  4)


session.add_all([i1, i2, i3, i4, i5, i6, i7, i8])
session.commit()

# add_all emits as many insert statements as there are objects
session.add_all([
    c1, c2, c3, c4, c5, c6,
    i1, i2, i3, i4, i5, i6, i7, i8,
    o1,o2,o3
])
session.commit()

2019-01-18 17:08:33,370 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-01-18 17:08:33,372 INFO sqlalchemy.engine.base.Engine INSERT INTO items (name, cost_price, selling_price, quantity) VALUES (%(name)s, %(cost_price)s, %(selling_price)s, %(quantity)s) RETURNING items.id
2019-01-18 17:08:33,372 INFO sqlalchemy.engine.base.Engine {'name': 'Chair', 'cost_price': 9.21, 'selling_price': 10.81, 'quantity': 5}
2019-01-18 17:08:33,374 INFO sqlalchemy.engine.base.Engine INSERT INTO items (name, cost_price, selling_price, quantity) VALUES (%(name)s, %(cost_price)s, %(selling_price)s, %(quantity)s) RETURNING items.id
2019-01-18 17:08:33,375 INFO sqlalchemy.engine.base.Engine {'name': 'Pen', 'cost_price': 3.45, 'selling_price': 4.51, 'quantity': 3}
2019-01-18 17:08:33,376 INFO sqlalchemy.engine.base.Engine INSERT INTO items (name, cost_price, selling_price, quantity) VALUES (%(name)s, %(cost_price)s, %(selling_price)s, %(quantity)s) RETURNING items.id
2019-01-18 17:08:33,376 INFO sqlalchemy.engine.base.Engine {'name': 'Headphone', 'cost_price': 15.52, 'selling_price': 16.81, 'quantity': 50}
2019-01-18 17:08:33,377 INFO sqlalchemy.engine.base.Engine INSERT INTO items (name, cost_price, selling_price, quantity) VALUES (%(name)s, %(cost_price)s, %(selling_price)s, %(quantity)s) RETURNING items.id
2019-01-18 17:08:33,378 INFO sqlalchemy.engine.base.Engine {'name': 'Travel Bag', 'cost_price': 20.1, 'selling_price': 24.21, 'quantity': 50}
2019-01-18 17:08:33,379 INFO sqlalchemy.engine.base.Engine INSERT INTO items (name, cost_price, selling_price, quantity) VALUES (%(name)s, %(cost_price)s, %(selling_price)s, %(quantity)s) RETURNING items.id
2019-01-18 17:08:33,380 INFO sqlalchemy.engine.base.Engine {'name': 'Keyboard', 'cost_price': 20.1, 'selling_price': 22.11, 'quantity': 50}
2019-01-18 17:08:33,381 INFO sqlalchemy.engine.base.Engine INSERT INTO items (name, cost_price, selling_price, quantity) VALUES (%(name)s, %(cost_price)s, %(selling_price)s, %(quantity)s) RETURNING items.id
2019-01-18 17:08:33,382 INFO sqlalchemy.engine.base.Engine {'name': 'Monitor', 'cost_price': 200.14, 'selling_price': 212.89, 'quantity': 50}
2019-01-18 17:08:33,383 INFO sqlalchemy.engine.base.Engine INSERT INTO items (name, cost_price, selling_price, quantity) VALUES (%(name)s, %(cost_price)s, %(selling_price)s, %(quantity)s) RETURNING items.id
2019-01-18 17:08:33,384 INFO sqlalchemy.engine.base.Engine {'name': 'Watch', 'cost_price': 100.58, 'selling_price': 104.41, 'quantity': 50}
2019-01-18 17:08:33,386 INFO sqlalchemy.engine.base.Engine INSERT INTO items (name, cost_price, selling_price, quantity) VALUES (%(name)s, %(cost_price)s, %(selling_price)s, %(quantity)s) RETURNING items.id
2019-01-18 17:08:33,386 INFO sqlalchemy.engine.base.Engine {'name': 'Water Bottle', 'cost_price': 20.89, 'selling_price': 25, 'quantity': 50}
2019-01-18 17:08:33,388 INFO sqlalchemy.engine.base.Engine COMMIT
2019-01-18 17:08:33,393 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-01-18 17:08:33,395 INFO sqlalchemy.engine.base.Engine INSERT INTO customers (first_name, last_name, username, email, address, town, created_on, updated_on) VALUES (%(first_name)s, %(last_name)s, %(username)s, %(email)s, %(address)s, %(town)s, %(created_on)s, %(updated_on)s) RETURNING customers.id
2019-01-18 17:08:33,396 INFO sqlalchemy.engine.base.Engine {'first_name': 'John', 'last_name': 'Green', 'username': 'johngreen', 'email': 'johngreen@mail.com', 'address': '164 Hidden Valley Road', 'town': 'Norfolk', 'created_on': datetime.datetime(2019, 1, 18, 17, 8, 33, 395514), 'updated_on': datetime.datetime(2019, 1, 18, 17, 8, 33, 395528)}
2019-01-18 17:08:33,398 INFO sqlalchemy.engine.base.Engine INSERT INTO customers (first_name, last_name, username, email, address, town, created_on, updated_on) VALUES (%(first_name)s, %(last_name)s, %(username)s, %(email)s, %(address)s, %(town)s, %(created_on)s, %(updated_on)s) RETURNING customers.id
2019-01-18 17:08:33,399 INFO sqlalchemy.engine.base.Engine {'first_name': 'Katherine', 'last_name': 'Wilson', 'username': 'katwilson', 'email': 'katwilson@gmail.com', 'address': '4685 West Side Avenue', 'town': 'Peterbrugh', 'created_on': datetime.datetime(2019, 1, 18, 17, 8, 33, 398851), 'updated_on': datetime.datetime(2019, 1, 18, 17, 8, 33, 398861)}
2019-01-18 17:08:33,401 INFO sqlalchemy.engine.base.Engine INSERT INTO customers (first_name, last_name, username, email, address, town, created_on, updated_on) VALUES (%(first_name)s, %(last_name)s, %(username)s, %(email)s, %(address)s, %(town)s, %(created_on)s, %(updated_on)s) RETURNING customers.id
2019-01-18 17:08:33,402 INFO sqlalchemy.engine.base.Engine {'first_name': 'John', 'last_name': 'Lara', 'username': 'johnlara', 'email': 'johnlara@mail.com', 'address': '3073 Derek Drive', 'town': 'Norfolk', 'created_on': datetime.datetime(2019, 1, 18, 17, 8, 33, 401334), 'updated_on': datetime.datetime(2019, 1, 18, 17, 8, 33, 401344)}
2019-01-18 17:08:33,403 INFO sqlalchemy.engine.base.Engine INSERT INTO customers (first_name, last_name, username, email, address, town, created_on, updated_on) VALUES (%(first_name)s, %(last_name)s, %(username)s, %(email)s, %(address)s, %(town)s, %(created_on)s, %(updated_on)s) RETURNING customers.id
2019-01-18 17:08:33,404 INFO sqlalchemy.engine.base.Engine {'first_name': 'Sarah', 'last_name': 'Tomlin', 'username': 'sarahtomlin', 'email': 'sarahtomlin@mail.com', 'address': '3572 Poplar Avenue', 'town': 'Norfolk', 'created_on': datetime.datetime(2019, 1, 18, 17, 8, 33, 403569), 'updated_on': datetime.datetime(2019, 1, 18, 17, 8, 33, 403577)}
2019-01-18 17:08:33,406 INFO sqlalchemy.engine.base.Engine INSERT INTO customers (first_name, last_name, username, email, address, town, created_on, updated_on) VALUES (%(first_name)s, %(last_name)s, %(username)s, %(email)s, %(address)s, %(town)s, %(created_on)s, %(updated_on)s) RETURNING customers.id
2019-01-18 17:08:33,406 INFO sqlalchemy.engine.base.Engine {'first_name': 'Toby', 'last_name': 'Miller', 'username': 'tmiller', 'email': 'tmiller@example.com', 'address': '1662 Kinney Street', 'town': 'Wolfden', 'created_on': datetime.datetime(2019, 1, 18, 17, 8, 33, 405984), 'updated_on': datetime.datetime(2019, 1, 18, 17, 8, 33, 405994)}
2019-01-18 17:08:33,408 INFO sqlalchemy.engine.base.Engine INSERT INTO customers (first_name, last_name, username, email, address, town, created_on, updated_on) VALUES (%(first_name)s, %(last_name)s, %(username)s, %(email)s, %(address)s, %(town)s, %(created_on)s, %(updated_on)s) RETURNING customers.id
2019-01-18 17:08:33,409 INFO sqlalchemy.engine.base.Engine {'first_name': 'Scott', 'last_name': 'Harvey', 'username': 'scottharvey', 'email': 'scottharvey@example.com', 'address': '424 Patterson Street', 'town': 'Beckinsdale', 'created_on': datetime.datetime(2019, 1, 18, 17, 8, 33, 408349), 'updated_on': datetime.datetime(2019, 1, 18, 17, 8, 33, 408358)}
2019-01-18 17:08:33,412 INFO sqlalchemy.engine.base.Engine SELECT items.id AS items_id, items.name AS items_name, items.cost_price AS items_cost_price, items.selling_price AS items_selling_price, items.quantity AS items_quantity
FROM items
WHERE items.id = %(param_1)s
2019-01-18 17:08:33,413 INFO sqlalchemy.engine.base.Engine {'param_1': 1}
2019-01-18 17:08:33,415 INFO sqlalchemy.engine.base.Engine SELECT items.id AS items_id, items.name AS items_name, items.cost_price AS items_cost_price, items.selling_price AS items_selling_price, items.quantity AS items_quantity
FROM items
WHERE items.id = %(param_1)s
2019-01-18 17:08:33,416 INFO sqlalchemy.engine.base.Engine {'param_1': 2}
2019-01-18 17:08:33,419 INFO sqlalchemy.engine.base.Engine INSERT INTO orders (name, customer_id, date_placed, date_shipped) VALUES (%(name)s, %(customer_id)s, %(date_placed)s, %(date_shipped)s) RETURNING orders.id
2019-01-18 17:08:33,420 INFO sqlalchemy.engine.base.Engine {'name': 'order 1 name', 'customer_id': 1, 'date_placed': datetime.datetime(2019, 1, 18, 17, 8, 33, 419126), 'date_shipped': None}
2019-01-18 17:08:33,422 INFO sqlalchemy.engine.base.Engine INSERT INTO orders (name, customer_id, date_placed, date_shipped) VALUES (%(name)s, %(customer_id)s, %(date_placed)s, %(date_shipped)s) RETURNING orders.id

2019-01-18 17:08:33,423 INFO sqlalchemy.engine.base.Engine {'name': 'order 2 name', 'customer_id': 1, 'date_placed': datetime.datetime(2019, 1, 18, 17, 8, 33, 422403), 'date_shipped': None}
2019-01-18 17:08:33,425 INFO sqlalchemy.engine.base.Engine INSERT INTO orders (name, customer_id, date_placed, date_shipped) VALUES (%(name)s, %(customer_id)s, %(date_placed)s, %(date_shipped)s) RETURNING orders.id
2019-01-18 17:08:33,425 INFO sqlalchemy.engine.base.Engine {'name': 'order 3 name', 'customer_id': 1, 'date_placed': datetime.datetime(2019, 1, 18, 17, 8, 33, 425017), 'date_shipped': None}
2019-01-18 17:08:33,428 INFO sqlalchemy.engine.base.Engine INSERT INTO order_lines (order_id, item_id, quantity) VALUES (%(order_id)s, %(item_id)s, %(quantity)s) RETURNING order_lines.id
2019-01-18 17:08:33,430 INFO sqlalchemy.engine.base.Engine {'order_id': 1, 'item_id': 1, 'quantity': 3}
2019-01-18 17:08:33,433 INFO sqlalchemy.engine.base.Engine INSERT INTO order_lines (order_id, item_id, quantity) VALUES (%(order_id)s, %(item_id)s, %(quantity)s) RETURNING order_lines.id
2019-01-18 17:08:33,434 INFO sqlalchemy.engine.base.Engine {'order_id': 1, 'item_id': 2, 'quantity': 2}
2019-01-18 17:08:33,436 INFO sqlalchemy.engine.base.Engine INSERT INTO order_lines (order_id, item_id, quantity) VALUES (%(order_id)s, %(item_id)s, %(quantity)s) RETURNING order_lines.id
2019-01-18 17:08:33,437 INFO sqlalchemy.engine.base.Engine {'order_id': 2, 'item_id': 1, 'quantity': 1}
2019-01-18 17:08:33,438 INFO sqlalchemy.engine.base.Engine INSERT INTO order_lines (order_id, item_id, quantity) VALUES (%(order_id)s, %(item_id)s, %(quantity)s) RETURNING order_lines.id
2019-01-18 17:08:33,439 INFO sqlalchemy.engine.base.Engine {'order_id': 2, 'item_id': 2, 'quantity': 4}
2019-01-18 17:08:33,442 INFO sqlalchemy.engine.base.Engine COMMIT

In [3]:
c1

2019-01-18 17:08:36,565 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-01-18 17:08:36,568 INFO sqlalchemy.engine.base.Engine SELECT customers.id AS customers_id, customers.first_name AS customers_first_name, customers.last_name AS customers_last_name, customers.username AS customers_username, customers.email AS customers_email, customers.address AS customers_address, customers.town AS customers_town, customers.created_on AS customers_created_on, customers.updated_on AS customers_updated_on
FROM customers
WHERE customers.id = %(param_1)s
2019-01-18 17:08:36,569 INFO sqlalchemy.engine.base.Engine {'param_1': 1}

In [4]:
# after reading c1 from the db again, we try to load the orders     
c1.orders

# remember that the setting for orders relationship is lazy='dynamic'
# it returns an appenderquery object. It did not return a sql select statement and return the list of orders object

In [5]:
c1.orders.all()
# when having lazy='dynamic' , must use .all() on relationships to access the attribute.
# more info on lazy dynamic https://docs.sqlalchemy.org/en/latest/orm/collections.html#dynamic-relationship

2019-01-18 17:08:40,646 INFO sqlalchemy.engine.base.Engine SELECT orders.id AS orders_id, orders.name AS orders_name, orders.customer_id AS orders_customer_id, orders.date_placed AS orders_date_placed, orders.date_shipped AS orders_date_shipped
FROM orders
WHERE %(param_1)s = orders.customer_id
2019-01-18 17:08:40,650 INFO sqlalchemy.engine.base.Engine {'param_1': 1}

In [6]:
# returns a Query object. still needs .all() or first or one_or_none or whatever to excute
c1.orders.filter_by(name='order 1 name')

In [7]:
c1.orders.filter_by(name='order 1 name').one_or_none()

2019-01-18 17:09:38,844 INFO sqlalchemy.engine.base.Engine SELECT orders.id AS orders_id, orders.name AS orders_name, orders.customer_id AS orders_customer_id, orders.date_placed AS orders_date_placed, orders.date_shipped AS orders_date_shipped
FROM orders
WHERE %(param_1)s = orders.customer_id AND orders.name = %(name_1)s
2019-01-18 17:09:38,846 INFO sqlalchemy.engine.base.Engine {'param_1': 1, 'name_1': 'order 1 name'}

In [15]:
# lazy dynamic relationship supports some write operations like remove and append 
c1.orders.remove(o3)
# immediately after .remove, the db does not emit any statement. this means that changes are still only on
# the python side. have not flush to db
# This remove command just means that the foreign key customer_id is set to None for o3. 



c1.orders.all()
# upon doing a read, it first emits a UPDATE sql statement to remove o3 from c1.orders. then re-requries the
# db for the latest orders for c1

2019-01-18 17:12:47,723 INFO sqlalchemy.engine.base.Engine UPDATE orders SET customer_id=%(customer_id)s WHERE orders.id = %(orders_id)s
2019-01-18 17:12:47,729 INFO sqlalchemy.engine.base.Engine {'customer_id': None, 'orders_id': 3}
2019-01-18 17:12:47,737 INFO sqlalchemy.engine.base.Engine SELECT orders.id AS orders_id, orders.name AS orders_name, orders.customer_id AS orders_customer_id, orders.date_placed AS orders_date_placed, orders.date_shipped AS orders_date_shipped
FROM orders
WHERE %(param_1)s = orders.customer_id
2019-01-18 17:12:47,740 INFO sqlalchemy.engine.base.Engine {'param_1': 1}

[]

In [16]:
c1.orders.append(o1)
c1.orders.all()

# same behaviour with remove

In [ ]:
# Note that eager/lazy loading options cannot be used in conjunction dynamic relationships at this time.

# SQL Series: All about SQL JOINs - DEV Community - Dev.to